<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .loginpage{
    text-align: center;
    margin-left: 400px;
    text-align: center;
    border: 1px solid black;
    height: 700px;
    width: 600px;
    background-color: white;
}

.btn{
    color:rgb(245, 245, 248);
    background-color: #0086D0;
    height: 30px;
    width: 250px;
    border-radius: 5px;
}
.su{
    color:#0086D0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(200, 242, 137);
}
    </style>
</head>

<body>
    <div class="loginpage">
        <img src="https://png.pngtree.com/png-clipart/20230313/original/pngtree-electric-car-and-charger-icon-vehicle-charging-station-png-image_8985359.png" length="200px" width="200px" >
        <br><br>
        <h1>Welcome!</h1>
    
        <img src="https://png.pngtree.com/png-clipart/20220911/original/pngtree-first-worlds-ev-day-png-image_8544050.png" length="100" width="250">
        <br><br>
        <button class="btn" ><a href="second.html"> Sign in</a></button>
        <br><br>
        <p>have an account? <a href="#" class="su"><a href="signup.html"> log in</a></a></p>
    </div>
</body>
</html>